:root {
  --color-background: #181818; /* warna hitam */
  --color-background-soft: #222222; /* warna hitam lembut */
  --color-background-mute: #282828; /* warna hitam lebih lembut */

  --color-border: rgba(84, 84, 84, 0.48); /* warna pembatas */
  --color-border-hover: rgba(84, 84, 84, 0.65); /* warna pembatas saat hover */

  --color-heading: #ffffff; /* warna teks heading putih */
  --color-text: rgba(235, 235, 235, 0.64); /* warna teks */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
